<div class="flex-column ask-form">
  <div (click)="docClick()">
    <h1>
      <span [hidden]="!isEditing" data-i18n>Create new topic</span>
      <span [hidden]="isEditing"><span data-i18n>Edit topic</span> <q>{{topic?.title}}</q></span>
    </h1>
    <form (submit)="onSubmit()"
          #topicEditForm="ngForm"
          (change)="formUpdate(topicEditForm)">
      <div class="flex-row">
        <select id="questionCategory"
                name="questionCategory"
                #qc="ngModel"
                required
                [(ngModel)]="topic.category"
                [compareWith]="compareById"
                (change)="saveDraft()"
                data-i18n>
          <option [ngValue]="{id: 0, name: ''}" data-i18n>Please select a category</option>
          <option
            *ngFor="let category of categories; trackBy: trackById"

            [ngValue]="category">{{category.name}}
          </option>
        </select>
        <span></span>
        <i class="fa fa-fw fa-times" [hidden]="! qc.invalid"></i>
        <i class="fa fa-fw fa-check" [hidden]="! qc.valid"></i>
      </div>
      <div class="flex-row">
        <input
          id="questionTitle"
          name="questionTitle"
          type="text"
          [(ngModel)]="topic.title"
          #qt="ngModel"
          data-i18n-placeholder
          placeholder="Topic title"
          (change)="saveDraft()"
          required>
        <span></span>
        <i class="fa fa-fw fa-times" [hidden]="! qt.invalid"></i>
        <i class="fa fa-fw fa-check" [hidden]="! qt.valid"></i>
      </div>
      <div class="flex-row">
        <div class="acl-list-box">
          <div class="flex-row item" *ngFor="let friend of topic.acl; trackBy: trackById">
            <img [src]="friend?.picture" alt="">
            <span class="name">{{friend.name}}</span>
            <span><i class="fa fa-fw fa-times" (click)="removeFromAcl(friend)"></i></span>
          </div>
          <label for="lookupUserForAcl" class="flex-row tip"
                 [hidden]="(topic.acl.length > 0)"><i data-i18n>Add people</i></label>
          <div class="flex-row search-box">
            <input id="lookupUserForAcl"
                   class="form-control"
                   name="userSearchTermField2"
                   type="text"
                   data-i18n-placeholder="Email or @nickname"
                   data-i18n-title="Type email for lookup"
                   autocomplete="off"
                   [formControl]="userSearchTermField"
                   (focus)="showSearch();"
                   (blur)="hideSearch()"
                   (keydown)="userSearchKeyDown($event)"

                   data-i18n />
            <button class="button" type="button"
                    (click)="runSearch()"
                    data-i18n-title="Add"
                    [disabled]="!sendButtonActive "
            ><i class="fa fa-fw fa-search"></i></button>
            <div class="search-box-dropdown" [hidden]="! showSearchResults">
              <div class="search-box-scroll-wrapper">
                <div class="flex-row search-box-item" *ngFor="let item of searchResults; trackBy: trackById"
                     [class.focus]="isFocused(item)"
                     (mouseover)="setAclFocus(item)"
                     (click)="addToAcl(item)">
                  <img [src]="item?.picture" alt="item.slug">
                  <span class="name">{{item?.name}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <i class="fa fa-fw fa-lock" [hidden]="! topic.private"></i>
        <i class="fa fa-fw fa-unlock" [hidden]="topic.private"></i>
      </div>
      <div class="flex-row">
        <lr-editor [(html)]="topic.body" (change)="saveDraft()" placeholder="Add details here..."></lr-editor>
      </div>
      <div class="flex-row">
        <button type="submit" [disabled]="topicEditForm.invalid" class="primary">
          <span [hidden]="isEditing" data-i18n>Create</span>
          <span [hidden]="! isEditing" data-i18n>Save changes</span>
        </button>
        <div>&nbsp;</div>
        <button type="button" data-i18n (click)="cancel()">
          Cancel
        </button>
      </div>
    </form>
    <textarea [ngModel]="topic.body" ></textarea>
  </div>
</div>


