<div class="main flex-row"  [class.topic-selected]="topic">
  <div class="category-list">
    <div class="new-topic">
      <a routerLink="/topics/new" class="button">
        <i class="fa fa-pencil-square-o"></i>
        <span i18n>New topic</span>
      </a>
    </div>
    <lr-category class="categories"></lr-category>
    <div class="items"></div>
    <div class="settings">

      <span [hidden]="connected">Connecting...</span>
    </div>
  </div>
  <div class="topic-list">
    <lr-topic-list></lr-topic-list>
    <div class="switch"></div>
  </div>
  <div class="topic-details">
    <lr-topic-detail (topicSubject)="topicSelected($event)"></lr-topic-detail>
  </div>
</div>
