<div class="main flex-row"  [class.topic-selected]="topic">
  <div class="category-list">
    <div class="new-topic">
      <a routerLink="/topics/new" class="button primary">
        <i class="fa fa-pencil-square-o"></i>
        <span i18n>New topic</span>
      </a>
    </div>
    <lr-category class="categories"></lr-category>

    <div class="settings">
      <div *ngIf="connected">
          <div *ngIf="user?.id" class="flex-row">
            <div class="avatar">
              <img [src]="user?.picture" alt="{{user?.name}}">
            </div>
            <div class="user">
              <a routerLink="/users/{{user?.slug}}">{{user?.name}}</a>
              <br>
              <kbd>@{{user?.slug}}</kbd>
            </div>
            <div class="cog">
              <a routerLink="/settings"><i class="fa fa-cog"></i></a>
            </div>
          </div>
          <div *ngIf="!user?.id" class="cog">
            <a routerLink="/users/login">Join</a>
          </div>
      </div>
      <div *ngIf="!connected" class="flex-row flex-center">
        <div class=""><span i18n>Connecting...</span></div>
      </div>
    </div>
  </div>
  <div class="topic-list">
    <lr-topic-list></lr-topic-list>
    <div class="switch"></div>
  </div>
  <div class="topic-details">
    <lr-topic-detail (topicSubject)="topicSelected($event)"></lr-topic-detail>
  </div>
</div>
