:host
  border dashed 1px blue
  display block

  .peer
    margin 1em
    background rgba(0,0,0,0.1)
    display block

    .stream
      width 10vw
      height 10vw
      background rgba(0,250,0,0.1)
      display block

      video
        background gray
        max-width 10vw
        height auto

  .local-video
    transform rotateY(180deg)
