$blueDark = #303E4D
$blueRegular = #578FCC
$blueLight = #81A5D4
$orange = #EBA36F
$greenLight = #97A346
$greenDark = #808942
$greenBright = #65c178

$baseThemeColor = #578FCC
$lightGrey = #D5D8DE
$normalGrey = #BCC9CE
$darkGrey = #8E949F
$lightColor = #F7FAFC
$fastAnimationDuration = 100ms
$slowAnimationDuration = 100ms

$red = #B2150A

@import "../func.styl"


  :root
    --main-theme-color: #303E4D
    --body-color: #F7FAFC

    --category-list-bg-color-top darken(#303E4D, 5)
    --category-list-bg-color-bottom darken(#303E4D, 1)

    --topic-list-bg-color-top darken(#303E4D, 3)
    --topic-list-bg-color-bottom lighten(#303E4D, 1)


    --topic-details-bg-color-top darken(#303E4D, 3)
    --topic-details-bg-color-bottom lighten(#303E4D, 1)
    a
      color $blueRegular

    body
      background-color var(--body-color, white)


    button,
    .button,
    input[type="submit"],
    input[type="reset"]
      background-color #f5f5f7
      border solid 1px $normalGrey
      box-shadow 1px 1px 1px -1px rgba(255,255,255,0.2) inset
      color black

    button.primary,
    .button.primary,
    input[type="submit"].primary,
    input[type="reset"].primary
      background-color $blueRegular
      border solid 1px $blueRegular
      color white

    button\:active,
    input[type=submit]:active,
    input[type=reset]:active
      box-shadow 1px 1px 1px -1px rgba(0,0,0,0.2) inset

    button:focus,
    .button:focus,
    input[type="submit"]:focus,
    input[type="reset"]:focus
      outline dotted rgba(0,0,0,0.2) 1px 1px

    button:hover,
    .button:hover,
    input[type="submit"]:hover,
    input[type="reset"]:hover
      filter saturate(2)

    button[disabled],input[type=submit][disabled],input[type=reset][disabled]
      /* background-color desaturate($blueRegular, 50)
      border solid 1px gray
      opacity 0.5 */
      filter grayscale(1) saturate(50%)


    select,
    input[type=text],
    input[type=password],
    input[type=email],
    input[type=tel],
    input[type=number],
    textarea
      border solid 1px $blueRegular
      background-color rgba(255,255,255, 0.5)

    .main
      .category-list
        vertical-gradient(
          var(--category-list-bg-color-top, $blueDark),
          var(--category-list-bg-color-bottom, $blueDark)
        )
        lr-category
          ul.menu
            li
              a
                color lighten($blueDark, 40)
                border-left solid 0.0vw transparent
                &:hover
                  color lighten($blueRegular, 20)
            li.active
              a
                color lighten($blueDark, 51)
                border-left solid 0.5vw $blueRegular
                padding-left 1.5vw
                background-color rgba(0,0,0,0.1)

        > .settings
          border-top solid 1px rgba(255, 255, 255, 0.024)
          color $darkGrey
          &.ng-hide
            opacity 0
          a
            color $darkGrey

      .topic-list
        vertical-gradient(
          var(--topic-list-bg-color-top, $blueDark),
          var(--topic-list-bg-color-bottom, $blueDark)
        )

        .topic
          border-bottom solid 1px rgba(255,255,255,0.025)
          border-left solid 1px rgba(255,255,255,0)
          &.active
            background-color lighten($blueDark, 25)
            border-left solid 1px rgba(255,255,255,0.25)
            position relative
            a
              color white
              small
                color darken($blueDark, 10)
                &.tag
                  color lighten($blueDark, 50)
          a
            color lighten($blueDark, 50)
          small
            color darken($blueDark, 10)
            &.tag
              color lighten($blueDark, 50)

          &.ng-animate
            transition:all
            animation-iteration-count 1
            animation-duration $slowAnimationDuration
          &.ng-enter
            animation-name fadeInQuick
            animation-timing-function ease-out
          &.ng-leave
            animation-name fadeOutQuick
            animation-timing-function ease-in
          .topic-status
            .counter
              color $greenLight
              font-size 0.7em
              background-color rgba(0,0,0,0.5)
              padding 0.1em 0.5em
              border-radius 1em
              margin-right 0.5em
        .switch
          background-color lighten($blueDark, 5)
          border-left solid 1px rgba(255,255,255,0.025)
          color $darkGrey
          box-shadow 0 0 5px -2px #000000
          a
            color $darkGrey
          a.active
            color white
            border-bottom solid 2px $blueLight
            &::before
              box-shadow 1px 1px 1px #fff
      .topic-container
        .topic-content
          .topic-main-content
            background-color rgba(255,255,255,0.15)
            box-shadow 0 15px 10px -20px rgba(0,0,0,0.15)

      .topic-details
        background-color var(--body-color, gray)

        .comments-list
          .comment
            .text
              color #000
            &:hover
              background-color alpha($blueLight, 0.05)

            &.me
              .text
                color $blueDark

        .show-old-comments
          border solid 1px
        .compose
          background-color rgba(255,255,255, 0.75)
          backdrop-filter: blur(20px);
          button
            -webkit-appearance none
            cursor pointer
          .advanced-compose-control
            button
              color $lightGrey
              background-color transparent
              border solid 2px $lightGrey
          .send-control
            button
              color $lightGrey
              background-color transparent
              border solid 2px transparent

              &.sending
                animation-name flyTopRightAndDisappear
                animation-timing-function ease-out
          .text
            lr-editor
              div.toolbar
                  button.format
                    i
                      color $lightGrey


    lr-editor
      border solid 1px $normalGrey
      div.toolbar
        border-bottom solid 1px $normalGrey
        background-color rgba(0,0,0,0.025)
        button.format
          background-color transparent
          border-color transparent
          border-width 0
          margin 0
          &.active
            box-shadow 1px 1px 2px -1px rgba(0,0,0,0.25) inset;
            background-color rgba(0,0,0,0.025)
            text-shadow 1px 1px 0px rgba(255,255,255,0.5)
        .fa
          color $blueDark
      div.editor
        color $blueDark
      div.editor:focus
        outline alpha($blueRegular, 50%) solid 1px

    .uploads
      background-color white
      box-shadow 0 0 5px -5px gray
      .upload
        border solid 1px $baseThemeColor
        button.cancel
          background-color transparent
          color red
        .progress
          &.bar
            background-color $baseThemeColor
          &.front
            color white

    .ask-form
      select,textarea,input[type="text"],input[type="email"],input[type="password"],button
        box-sizing border-box
        -webkit-appearance none
        -moz-appearance none
        font-family inherit
      select,input[type="text"],textarea
        border solid 1px $normalGrey
        color $blueDark
        background-color lighten($lightColor, 10)

      /*button
        background-color $baseThemeColor
        color $lightColor
        border solid 1px $baseThemeColor

      button[disabled]
        background-color desaturate($baseThemeColor, 50%)*/

      .private
        background rgba(0,0,0,0.1)
      .acl-list-box
        border solid 1px $normalGrey
        background-color lighten($lightColor, 10)

        $aclItemHeight = calc(1em + 1vh)
        $aclItemHalfHeight = calc(0.75em + 1vh)
        .tip
          color $darkGrey

        .item
          background-color lighten($normalGrey, 20)
          color $darkGrey
          border solid 1px lighten($normalGrey, 15)

          .name
            color $darkGrey

          img
            background-color $normalGrey

        $searchBoxWidth = 15em
        .search-box
          background-color lighten($normalGrey, 20)
          border solid 1px lighten($normalGrey, 10)

          input[type=text]
            background-color transparent
            border solid 1px transparent
          .search-box-dropdown
            background-color lighten($normalGrey, 20)
            border solid 1px lighten($normalGrey, 10)
            border-top-color transparent
            .search-box-item
              color $darkGrey
              &.focus
                background-color $blueDark
                .name
                  color white
              .name
                color $darkGrey
              img
                background-color $normalGrey


      form
        i.fa-times
          color red
        i.fa-check
          color $greenDark

  pre, :not(pre) > code, :not(pre) > * > code
    padding 0.2em
    background-color rgba(0,0,0,0.05)
  pre
    border-left solid 0.2em $greenLight
    display block
    white-space: pre-wrap;

  kbd
    padding 0.1em 0.1em
    border solid 1px rgba(0,0,0,0.1)
    background-color rgba(0,0,0,0.05)
