$blueDark = #303E4D
$blueRegular = #578FCC
$blueLight = #81A5D4
$orange = #EBA36F
$greenLight = #97A346
$greenDark = #808942
$greenBright = #65c178

$baseThemeColor = #578FCC
$lightGrey = #D5D8DE
$normalGrey = #BCC9CE
$darkGrey = #8E949F
$lightColor = #F7FAFC

$red = #B2150A


  :root
    --main-theme-color: #303E4D
    --body-color: #F7FAFC

    a
      color $blueRegular
