:host
  padding-left 1vw
  height calc(99vh - 3em)
  overflow-y scroll
  display block

  form
    div
      label
        display inline-block
        width 10em
      input[type="text"],input[type="email"],textarea
        width 20em
