:host
  height calc(3em + 1vh)
  display block
  box-sizing border-box
  width 100vw
  background-color var(--main-theme-color, #303E4D)
  color white

  > div
    width 100%
    align-items stretch

    .logo
      order 1
      flex-grow 1000

    .slogan
      order 2
      flex-grow 1618

    .user
      order 3
      flex-grow 4236

