:host
  margin-top 0.2em
  height calc(98vh - 8.3em)
  display block

  ul.menu
    text-overflow ellipsis
    margin 0
    padding 0

    li
      margin 0
      padding-top 1vh
      user-select none

      a
        transition all ease 100ms
        display block
        min-height calc(1em + 1vh)
        text-decoration none
        line-height calc(1em + 3vh)
        padding-left 2vw
        font-size calc(0.8em + 1vh * 0.25)
        border-left solid 0.0vw transparent
        text-overflow ellipsis
        overflow hidden

    li.active
      a
        padding-left 1.5vw

