<div *ngIf="! user?.id">
  <h1 data-i18n>Join the project</h1>
  <div class="sso">
    <span data-i18n>Sign in with</span>
    <a href="/api/oauth/facebook/" class="text-facebook" target="_top"><i class="fa fa-fw fa-facebook-official"></i></a>
    <!--
    <a href="/api/oauth/twitter/" class="text-twitter" target="_top"><i class="fa fa-fw fa-twitter"></i></a>
    <a href="/api/oauth/windowslive/" class="text-windows" target="_top"><i class="fa fa-fw fa-windows"></i></a>
    <a href="/api/oauth/vkontakte/" class="text-vk" target="_top"><i class="fa fa-fw fa-vk"></i></a>
    <a href="/api/oauth/github/" class="text-github" target="_top"><i class="fa fa-fw fa-github"></i></a>
    <a href="/api/oauth/google/" class="text-google" target="_top"><i class="fa fa-fw fa-google-plus-square"></i></a>
    -->
    <div data-i18n="">or use old school way</div>
  </div>

  <p data-i18n>Sign in or sign up</p>
  <p>{{message}}</p>
  <form (submit)="onSubmit()" #authDataForm="ngForm">
    <div class="form-group">
      <label for="email" data-i18n>Email</label>
      <input
        type="email"
        email="true"
        [disabled]="submitted"
        [(ngModel)]="authData.email"
        #email="ngModel"
        data-i18n-placeholder
        id="email"
        name="email"
        required
        placeholder="Email" />
      <span></span>
    </div>
    <div class="form-group">
      <label for="password" data-i18n>Password</label>
      <input
        type="password"
        [(ngModel)]="authData.password"
        #password="ngModel"
        data-i18n-placeholder
        [disabled]="submitted"
        id="password"
        name="password"
        required
        minlength="2"
        placeholder="Password"
      />
      <span></span>

    </div>
    <div class="form-group">
      <label>
        <a routerLink="/users/password/restore" class="small" data-i18n>Restore</a>
      </label>
      <label for="rememberMe" data-i18n>remeber</label>
      <input type="checkbox"
             [(ngModel)]="authData.rememberMe"
             [disabled]="submitted"
             name="remember"
             id="rememberMe"
      />
    </div>
    <div></div>
    <div class="form-group">
      <label></label>
      <input type="submit" value="Join" [disabled]="disabled || submitted || authDataForm.invalid">
    </div>
    <div class="form-group" *ngIf="disabled">
      <div class="tip" data-i18n="">Sorry, we are offline now. Please, come back later.</div>
    </div>
  </form>
</div>
<div *ngIf="user?.id">
  <button (click)="signOut()" type="button">Sign Out</button>
</div>

<!--
User
<pre>
{{user | json}}
</pre>
Auth data
<pre>
{{authData | json}}
</pre>

-->
