<div class="topic-container flex-column"
     [class.authorized]="user?.id > 0"
     [class.topic-selected]="topic"
     [class.advancedCompose]="advancedCompose"
     [class.private]="topic?.private"
>
  <div *ngIf="loading" class="topic-details">
    <div class="container flex flex-center">
      <img src="/app-dist/assets/loader.gif" alt="Loading..." width="16" height="16">
    </div>
  </div>
  <div *ngIf="!topic && !loading" class="topic-details">
    <p>Pick a topic to view and discuss</p>
  </div>
  <div *ngIf="topic && !loading" class="topic-content" [style.height]="topicDetailsBlockHeight">
    <div class="topic-main-content">
      <h1>{{topic?.title}}</h1>
      <div class="date">
        <span class="date"
          [hidden]="topic?.createdAt === topic?.updatedAt"
          [title]="topic?.createdAt">
          {{topic?.createdAt|date:"short"}}
        </span>
        <span class="date"
              [hidden]="topic?.createdAt !== topic?.updatedAt"
              title="{{topic?.createdAt}}, {{topic?.updatedAt}}">
                  <i class="fa fa-pencil"></i>
                  <span>{{topic?.updatedAt | date: "short"}}</span>
        </span>
      </div>
      <div class="content topic-body" [innerHTML]="topic?.body"></div>
      <div class="flex-row topic-authoring"  *ngIf="topic">
        <div class="col" itemprop="author" itemscope itemtype="http://schema.org/Person">
          <div class="flex-row">
            <div *ngIf="topic">
              <a [routerLink]="['/users/', topic?.user?.slug]">
                <img *ngIf="topic" [src]="topic?.user?.picture" class="img-responsive" alt="">
              </a>
            </div>
          </div>
        </div>
        <div class="col author" *ngIf="topic.user">
          <a itemprop="name" [routerLink]="['/users/' , topic?.user.slug]">{{topic?.user.name}}</a>
          <span class="online" [hidden]="!topic?.user?.online" title="Online"><i class="fa fa-circle"></i></span>
          <br><lr-rank user="topic?.user" style="float: left"></lr-rank>
        </div>
        <div class="col" style="flex-grow: 1">

        </div>
        <div class="col private" [hidden]="!topic?.private">
          <div class="padlock"><i class="fa fa-fw fa-lock" i18n i18n-title="Access limited to"></i></div>

          <a *ngFor="let aclu of topic?.acl || []" [title]="aclu?.name" [routerLink]="['/users/' + aclu?.slug]">
            <img [src]="aclu?.picture" class="img-responsive" [alt]="aclu?.name">
          </a>

        </div>
        <div class="col">
        </div>
        <div class="col">
        </div>
        <div class="col">
        </div>
        <div class="col">
          <a
            *ngIf="topic.user.id === user.id"
            itemprop="name" [routerLink]="['/topics/' + topic?.slug + '/edit/']"><i class="fa fa-edit"></i></a>
        </div>
        <div class="col">

          <a [href]="'https://www.addtoany.com/share?linkurl=' + (topicAbsoluteUrl)"
             target="_blank"
          ><i class="fa fa-fw fa-share-square-o"></i></a>
        </div>
      </div>
    </div>
    <div class="comments">
        <div class="pagination">
          <button class="show-old-comments"
                  type="button"
             (click)="loadOlderComments()"
             [class.hidden]="! pagination.left"
          >
           <span i18n>Show earlier comments</span>
            <span >({{pagination.left}})</span>
          </button>
        </div>
        <div class="comments-list" id="commentsList">
          <div class="comment flex-row"
               *ngFor="let comment of comments; index as $index; first as isFirst"
               [id]="'comment_' + comment.id"
               [class.me]="comment.user.id === user.id"
               [class.lp]="!isFirst && comments[$index-1] && comments[$index-1].user.id === comment.user.id"
               [class.up]="!isFirst && comments[$index-1] && comments[$index-1].user.id !== comment.user.id"
               [class.spam]="comment.spam"
               [class.moderated]="comment.moderated"
               [class.solution]="comment.solution"
               itemscope
               itemtype="http://schema.org/Comment">
            <div class="avatar">
              <div [hidden]="comments[$index-1] && comments[$index-1].user.id == comment.user.id && !isFirst">
                <a [routerLink]="['/users/' + comment.user.slug + '/']"><img
                  [src]="comment.user.picture" class="img-responsive" alt="">
                </a>
                <lr-rank user="comment.user"></lr-rank>
              </div>
            </div>
            <div class="flex-column comment-details">
              <div itemprop="author" itemscope itemtype="http://schema.org/Person" class="author"
                   [hidden]="comments[$index-1] && comments[$index-1].user.id == comment.user.id && !isFirst">
                <a itemprop="name" [routerLink]="['/users/' + comment.user.slug + '/']">{{comment.user.name}}</a>
                <span class="online" [hidden]="!comment.user.online" i18n-title="Online"><i class="fa fa-circle"></i></span>
                <span class="date">
                <a class="time hidden-xs"
                   [name]="'comment_' + comment.id"
                   [href]="'#comment_' + comment.id" target="_self"
                   [title]="comment.createdAt | date: 'medium'" >
                      {{ comment.createdAt | date:'shortTime' }}
                  </a>
              </span>
              </div>
              <div class="content">
                <div class="text" itemprop="text" [innerHTML]="comment.body"></div>
                <div class="attachments">
                  <!-- attachment attachment="att" ng-repeat="att in comment.attachments"></attachment -->
                </div>
              </div>
              <div class="text-feedback" [hidden]="!user">
                <a
                  [hidden]="user?.id !== topic?.user.id"
                  (click)="vote(comment, 'solution')"><i
                  class="fa fa-fw "
                  [class.fa-check-circle-o]="!comment.solution"
                  [class.fa-check-circle]="comment.solution"></i></a>
                <a (click)="vote(comment, 'up')"><i class="fa fa-fw fa-caret-up"></i></a>
                <span>{{comment.rank}}</span>
                <a (click)="vote(comment, 'down')"><i class="fa fa-fw fa-caret-down"></i></a>
                <a (click)="vote(comment, 'report')"><i class="fa fa-fw fa-flag"></i></a>
              </div>
              <div class="text-moderation" >
                ***
              </div>
            </div>
          </div>
        </div>

        <div class="flex-center flex-row">
          <div class="typists">
            <div class="list">
              <div class="starter"><i class="fa fa-pencil"></i></div>
              <div class="typist" *ngFor="let typist of typists || []"
                   [@flyInOut]="'in'"
              ><img
                [src]="typist.picture"
                [alt]="typist.name"
                [title]="typist.name" class="img-responsive"></div>
            </div>
          </div>
        </div>
        <div class="join flex-center" [hidden]="user">
          <div class="welcoming" i18>Intrigued? Wanna say something?</div>
          <div class="flex-row flex-center">
          </div>
        </div>
        <div id="topicAnchor"><span></span></div>
      </div>
  </div>
  <div *ngIf="topic && !loading" class="compose flex-row" [class.sending]="sending" [class.open]="advancedCompose">
    <div class="advanced-compose-control">
      <button (click)="switchAdvancedCompose()" [disabled]="sending">
        <i class="fa " [class.fa-plus]="!advancedCompose" [class.fa-minus]="advancedCompose"></i>
      </button>
    </div>
    <div class="text">
      <lr-editor [(html)]="comment.body" (change)="saveDraft()" placeholder="Type your comment here..."></lr-editor>
    </div>
    <div class="send-control">
      <button
        type="button"
        (click)="sendComment()"
              [disabled]="!sendButtonActive"
              [class.sending]="sending"
      ><i class="fa fa-paper-plane"></i></button>
    </div>
  </div>
</div>
