<div
  (drop)="onDrop($event)"
  style="position: relative">

  <div class="toolbar">
    <button *ngFor="let btn of toolbar"
            [class.active]="btn.active"
            title="{{mapKey(btn.hotKey)}}"
            class="format"
            type="button"
            (mousedown)="format(btn.command, $event)">
      <i class="fa fa-fw fa-{{btn.fa}}"></i>
    </button>
    <span id="uploadEditorButton" style="position: relative"
          class="format uploadEditorButton">
      <i class="fa fa-fw fa-paperclip"></i>
      <input type="file" id="uploadEditorFileInput"
           (change)="onFileSelect($event)"
           style="position: absolute;left: 0;top: 0;opacity: 0.001;width: 2em;cursor: pointer">
    </span>
    <span>
  </span>
  </div>
  <div contenteditable="true"
       [(ngModel)]="html"
       (input)="update()"
       (change)="update()"
       (keydown)="update()"
       (click)="update()"
       (blur)="update()"
       (update)="update()"
       class="editor"
       [title]="placeholder"
  ><p></p></div>
  <div class="uploads">
    <div class="upload" *ngFor="let upload of uploads;index as uploadIndex">
      <div class="progress back" [style.width]="upload.progressPercent">{{upload.name}}
        <span class="remaining">{{upload.remaining}}</span>@<span class="speed">{{upload.speed}}</span>
      </div>
      <div class="progress front" [style.width]="upload.progressPercent"
           title="{{upload.uploaded}} of {{upload.size}}">{{upload.name}}
        <span class="remaining">{{upload.remaining}}</span>@<span class="speed">{{upload.speed}}</span>
      </div>
      <div class="progress bar" [style.width]="upload.progressPercent">&nbsp;</div>
      <button type="button" class="cancel" (click)="cancelUpload(uploadIndex)"><i class="fa fa-times-circle"></i></button>
    </div>
  </div>
  <div class="upload-drop-here" [hidden]="!isUploadHelperDisplayed" >
    <div class="bounds">
      <i class="tooltip" data-i18n>Drop your file here to be uploaded!</i>
    </div>
  </div>
</div>
