$normalGrey = #BCC9CE

$slowAnimationDuration = 100ms

:host

  border-radius 3px
  display block
  margin 0.5vh 0.5vw
  width 99%

  div.toolbar
    border-radius: 2px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    button.format
      padding 0.8vh
      display inline-block
      cursor pointer
      margin 0.1vh
      border-radius: 0.2vh;

  [contenteditable=true]:empty:before
    content attr(title)
    display block
    color $normalGrey


  div.editor
    display block
    min-height 1em
    padding 1vh 1vw
    border-radius 3px
    overflow auto
    width inherit
    word-break: break-word;

    img
      max-width 90%
      max-height 50vh
      height auto
      width auto
  .upload-drop-here
    z-index 5
    position absolute
    top -10em
    width 100%
    height 12em
    background white
    margin 0
    line-height 1em
    .bounds
      height 12em

      margin 0.1em
      padding 0.1em
      border dashed 2px gray
      .tooltip
        color gray
        text-align center


  .uploads
    z-index 5
    position absolute
    top -2em
    width 85%
    .upload
      font-size 0.8em
      line-height 1.4em
      height 1.4em
      padding 1px
      position relative
      button.cancel
        position absolute
        right 0
        top 0
        height inherit
        padding 0
        border none
      .progress
        position absolute
        left 1
        top 1
        transition width 2s
        white-space nowrap
        height 1.4em
        padding 0 0.2em
        &.bar
          z-index 7
        &.back
          z-index 9
        &.front
          z-index 11
          overflow hidden
        .speed, .remaining
          font-family monospace
          font-size 0.9em

.ask-form
  :host
    div.editor
      min-height 30vh

.compose
  :host
    border-radius 3px
    display block
    margin 0
    width 99%
    border-width 0
    div.toolbar
      margin 0
      padding 0
      line-height: calc(3em - 0.5vh);
      height 0
      overflow hidden
      border-bottom solid 1px transparent

      .uploadEditorButton
        position relative

      button.format
        padding 0.1vh 0.25vw
        margin 0 0

      :first-child
        margin-left 0
        padding-left 0

    div.editor
      outline none
      margin-top calc(0.691em + 0.5vh - 1px)
      min-height 1.8em
      max-height calc(30vh)
      line-height 1.618
      padding 0
      transition height $slowAnimationDuration
      word-break-wrap max-width
      &.ng-untouched.ng-empty.ng-dirty::after
        content attr(placeholder) " "

  input,
  textarea,
  [contenteditable]
    -webkit-user-select text
    user-select text
    img
      max-width 100%
      height auto



.compose.open
  :host
    div.toolbar
      background-color transparent
      height 1.5em
      line-height 1.5em
      border-bottom solid 1px alpha($normalGrey, 50%)
      font-size 0.9em
    div.editor
      max-height calc(60vh - 3.5em)
      margin-top 0.05em
