:host
  height inherit
  background:
    linear-gradient(
      #D33ECC ,
      transparent
    ),
    linear-gradient(
      90deg,
      #2DBECE,
      transparent
    ),
    linear-gradient(
      190deg,
      #deb7a3,
      transparent
    ),
    linear-gradient(
      270deg,
      alpha(#643AA1, 0.20),
      transparent
    );

  background-blend-mode: multiply;

  color: white
